.table {
    width: 100%;
    /* text-align: center; */
    background-color: white;
}
.catepage {
    background-color: white;
}
.title-cate {
    font-size: 30px;
    font-weight: 900;
    margin: 30px auto;
}
table,
th,
td {
    border: 1px solid gray;
}
.button {
    border-radius: 10px solid black;
    width: 100%;
}
