.hd__admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
    max-width: 100%;
}

.hd__func,
.profile {
    display: flex;
    align-items: center;
}

.profile-img img {
    display: block;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0 10px;
}

.btn-toggle,
.notifycations,
.message {
    margin-right: 20px;
}

.notifycations,
.message {
    border: 1px solid gray;
    border-radius: 50%;
}

.notica,
.mess {
    display: block;
    padding: 10px;
    text-align: center;
}

.profile-name {
    font-size: 0.875rem;
    font-weight: bold;
}

.profile-job {
    font-size: 0.75rem;
}
/* html.dark {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
} */

/* html.dark .dark\:ml-6 {
    margin-left: 1.5rem;
}

html.dark .dark\:bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
} */

.form__search {
    width: 250px;
    color: #555;
    display: flex;
    align-items: center;
    padding: 2px;
    /* border: 1px solid currentColor; */
    border-radius: 5px;
}

.form__search_input {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

.form__search_input::placeholder {
    color: #bbb;
}

.form__search_button {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

.form__search_button:hover {
    opacity: 1;
}

.form__search_button:focus,
.form__search_input:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}
